<h1>Listing memories</h1>

<table>
  <tr>
  </tr>

<% @memories.each do |memories| %>
  <tr>
    <td><%= link_to 'Show', memories %></td>
    <td><%= link_to 'Edit', edit_memories_path(memories) %></td>
    <td><%= link_to 'Destroy', memories, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New memories', new_memories_path %>