<h1>Voici un type de formulaire créer avec ma commande  ~>ruby script/generate scaffold MON_MODELE MON_CONTROLLER</h1>
<table>
</tr>

    <td><label for="hardware_WORKGROUP">WORKGROUP</label></td>
    <td><%= text_field 'hardware', 'WORKGROUP',:class=>"champ_saisie"  %></td>
</tr>

<tr>
    <td><label for="hardware_MEMORY">MEMORY</label></td>
    <td><%= text_area 'hardware', 'MEMORY' %></td>

</tr>

</table>
