<h1>Listing hardwares</h1>
<!-- variable name_list declaree dans controller -->

<script type="text/javascript">
  <!--
      if(typeof $=='undefined') {function $(v) {return(document.getElementById(v));}}
      window.onload = function () {
      gauge.add($("g_8"), {width:200, height:25, limit: false, scale:
      16,radius: 0.01 , colors:['#ff0000','#00ff00'], values:[7,9.5,0]});
      }
    -->
</script>

<div class="demo" id="g_8">
  <div style="position:relative;width:600px;height:20px;border:1px solid black;background:#cccccc;">
    <div style="position:absolute;left:0px;top:0px;width:240px;height:20px;background:#ff0000;"></div>
    <div style="position:absolute;left:240px;top:0px;width:120px;height:20px;background:#00ff00;"></div>
  </div>
</div>

